{% extends 'crudapp/base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
        <div class="col-md-10 col-xs-10 col-sm-10">
            <h3 class="round3" style="text-align:center;">Mobil</h3>
        </div>
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br />
            <a href="{% url 'create' %}" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span> Tambah
            </a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nama</th>
                        <th>Plat</th>
                        <th>Tipe</th>
                        <th>Merk</th>
                        <th>Warna</th>
                        <th>Harga</th>
                        <th>Status</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cars in cars_list %}
                        <tr>
                            <td>{{ cars.carsName }}</td>
                            <td>{{ cars.plat }}</td>
                            <td>{{ cars.Carype }}</td>
                            <td>{{ cars.brand }}</td>
                            <td>{{ cars.color }}</td>
                            <td>{{ cars.price }}</td>
                            <td>{{ cars.status }}</td>
                            <td>
                                <a href="{% url 'detail' cars.pk %}" class="btn btn-success">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </a>
                                <a href="{% url 'edit' cars.pk %}" class="btn btn-warning">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                                <a href="{% url 'delete' cars.pk %}" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </html>
        </div>
    </div>
</div>
{% endblock %}